In [29]:
from pyspark.sql import SparkSession
import psycopg2
import pandas as pd
import os
from pyspark.sql import SparkSession
from sqlalchemy import create_engine
from pyspark import SparkConf

# initialise sparkContext

spark = SparkSession.builder.config("spark.jars", "postgresql-42.2.5.jar")\
    .config("spark.jars.packages","org.postgresql:postgresql:42.2.5")\
    .config('spark.driver.maxResultSize','20g').config("spark.executor.memory", "20g")\
    .config("spark.driver.memory","20g").config("spark.executor.memory","20g")\
    .config("spark.shuffle.file.buffer",'40').config("spark.scheduler.listenerbus.eventqueue.capacity","10000000")\
    .master("local").appName("tinkof-invest").getOrCreate()
spark.conf.set("spark.sql.execution.arrow.enabled", True)
spark.sparkContext.setLogLevel("ERROR")
spark

In [2]:
hour = spark.createDataFrame(pd.read_parquet('all_candles_hour.parquet'))

In [9]:
min_15 = spark.createDataFrame(pd.read_parquet('all_candles_15min.parquet'))

In [11]:
min_5 = spark.createDataFrame(pd.read_parquet('all_candles_5min.parquet'))

In [13]:
min_1 = spark.createDataFrame(pd.read_parquet('all_candles_1min.parquet'))

In [25]:
mode = "append"
url = "jdbc:postgresql://localhost:5432/shares"
properties = {"user": "nikolay","password": "Andone1","driver": "org.postgresql.Driver"}

In [6]:
hour

DataFrame[figi: string, time: timestamp, open: decimal(14,8), close: decimal(14,8), high: decimal(14,8), low: decimal(14,8), volume: double, is_complete: double]

In [7]:
hour.write.jdbc(url=url, table="candles_hour", mode=mode, properties=properties)

In [10]:
min_15.write.jdbc(url=url, table="candles_15min", mode=mode, properties=properties)

In [12]:
min_5.write.jdbc(url=url, table="candles_5min", mode=mode, properties=properties)

In [14]:
min_1.write.jdbc(url=url, table="candles_1min", mode=mode, properties=properties)

In [9]:
pd.read_parquet('debug/BBG000Q7GG57_hour_from_2022-02-21_to2022-05-20.parquet')

,figi,time,open,close,high,low,volume,is_complete
0,None,2022-02-22 07:00:00+00:00,0.00364500,0.00340000,0.00364500,0.00300500,954,True
1,None,2022-02-22 08:00:00+00:00,0.00339500,0.00337000,0.00349000,0.00332500,293,True
2,None,2022-02-22 09:00:00+00:00,0.00341500,0.00343500,0.00344000,0.00336500,56,True
3,None,2022-02-22 10:00:00+00:00,0.00344000,0.00346500,0.00346500,0.00340000,26,True
4,None,2022-02-22 11:00:00+00:00,0.00344000,0.00345500,0.00349000,0.00344000,39,True
...,...,...,...,...,...,...,...,...
4,None,2022-05-19 11:00:00+00:00,0.00356000,0.00356000,0.00356000,0.00356000,2,True
5,None,2022-05-19 12:00:00+00:00,0.00356500,0.00356500,0.00356500,0.00356500,13,True
6,None,2022-05-19 13:00:00+00:00,0.00355000,0.00356500,0.00356500,0.00355000,10,True
7,None,2022-05-19 14:00:00+00:00,0.00355000,0.00353500,0.00356000,0.00353500,43,True
8,None,2022-05-19 15:00:00+00:00,0.00355500,0.00355500,0.00356500,0.00355500,65,True

In [10]:
import os

In [19]:
PATH = os.getcwd()

In [20]:
files = os.listdir(PATH+'/debug')

In [33]:
from tqdm.auto import tqdm
mode = "append"
url = "jdbc:postgresql://localhost:5432/shares"
properties = {"user": "nikolay","password": "Andone1","driver": "org.postgresql.Driver"}
for f in tqdm(files[4:]):
    if 'hour' in f:
        pd_df = pd.read_parquet(PATH+'/debug/'+f)
        if not pd_df.empty:
            pd_df.is_complete = pd_df.is_complete.apply(int)
            hour = spark.createDataFrame(pd_df)
            hour.write.jdbc(url=url, table="candles_hour_rus", mode=mode, properties=properties)
    elif 'day' in f:
        pd_df = pd.read_parquet(PATH+'/debug/'+f)
        if not pd_df.empty:
            pd_df.is_complete = pd_df.is_complete.apply(int)
            day = spark.createDataFrame(pd_df)
            day.write.jdbc(url=url, table="candles_day_rus", mode=mode, properties=properties)

  0%|          | 0/290 [00:00<?, ?it/s]

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  Internal Error (methodData.cpp:1080), pid=77717, tid=77773
#  Error: ShouldNotReachHere()
#
# JRE version: OpenJDK Runtime Environment (11.0.15+10) (build 11.0.15+10-Ubuntu-0ubuntu0.21.10.1)
# Java VM: OpenJDK 64-Bit Server VM (11.0.15+10-Ubuntu-0ubuntu0.21.10.1, mixed mode, sharing, tiered, compressed oops, g1 gc, linux-amd64)
# Core dump will be written. Default location: Core dumps may be processed with "/usr/share/apport/apport -p%p -s%s -c%c -d%d -P%P -u%u -g%g -- %E" (or dumping to /home/nikolay/Projects/tinkoff-invest/Collect_data/core.77717)
#
# An error report file with more information is saved as:
# /home/nikolay/Projects/tinkoff-invest/Collect_data/hs_err_pid77717.log
#
# If you would like to submit a bug report, please visit:
#   Unknown
#

In [32]:
for f in tqdm(files[:10]):
    pd_df = pd.read_parquet(PATH+'/debug/'+f)
    print(pd_df)

  0%|          | 0/10 [00:00<?, ?it/s]

            figi                      time        open       close  \
0   BBG003BNWBP3 2022-02-22 07:00:00+00:00  1.85000000  1.71500000
1   BBG003BNWBP3 2022-02-22 08:00:00+00:00  1.71400000  1.68500000
2   BBG003BNWBP3 2022-02-22 09:00:00+00:00  1.66500000  1.69900000
3   BBG003BNWBP3 2022-02-22 10:00:00+00:00  1.66700000  1.78900000
4   BBG003BNWBP3 2022-02-22 11:00:00+00:00  1.78100000  1.74600000
..           ...                       ...         ...         ...
4   BBG003BNWBP3 2022-05-19 11:00:00+00:00  2.00400000  2.00000000
5   BBG003BNWBP3 2022-05-19 12:00:00+00:00  1.99500000  2.01400000
6   BBG003BNWBP3 2022-05-19 13:00:00+00:00  2.01400000  2.00900000
7   BBG003BNWBP3 2022-05-19 14:00:00+00:00  2.00900000  2.00800000
8   BBG003BNWBP3 2022-05-19 15:00:00+00:00  2.01300000  2.01100000

          high         low  volume  is_complete
0   1.88800000  1.50000000   18136         True
1   1.77700000  1.63000000    4450         True
2   1.72500000  1.64500000    2238         True
3   1.78900000  1.63000000    6998         True
4   1.79000000  1.69500000    4569         True
..         ...         ...     ...          ...
4   2.00800000  1.99600000     239         True
5   2.02300000  1.98400000    3245         True
6   2.02400000  1.99500000     842         True
7   2.01600000  2.00600000     370         True
8   2.01300000  2.00300000     735         True

[327 rows x 8 columns]
            figi                      time           open          close  \
0   BBG006L8G4H1 2022-02-21 18:00:00+00:00  3040.00000000  2989.20000000
1   BBG006L8G4H1 2022-02-21 19:00:00+00:00  2983.80000000  3002.20000000
2   BBG006L8G4H1 2022-02-21 20:00:00+00:00  3009.20000000  3065.80000000
3   BBG006L8G4H1 2022-02-22 07:00:00+00:00  2976.60000000  2974.80000000
4   BBG006L8G4H1 2022-02-22 08:00:00+00:00  2974.40000000  2930.00000000
..           ...                       ...            ...            ...
4   BBG006L8G4H1 2022-04-29 11:00:00+00:00  1754.60000000  1759.00000000
5   BBG006L8G4H1 2022-04-29 12:00:00+00:00  1758.80000000  1763.20000000
6   BBG006L8G4H1 2022-04-29 13:00:00+00:00  1764.20000000  1762.00000000
7   BBG006L8G4H1 2022-04-29 14:00:00+00:00  1762.40000000  1778.00000000
8   BBG006L8G4H1 2022-04-29 15:00:00+00:00  1778.00000000  1766.60000000

             high            low  volume  is_complete
0   3115.00000000  2940.00000000  649059         True
1   3110.00000000  2845.00000000  887765         True
2   3110.00000000  2961.20000000  259861         True
3   3035.80000000  2907.00000000  626377         True
4   3059.80000000  2913.20000000  748659         True
..            ...            ...     ...          ...
4   1768.80000000  1736.00000000   22281         True
5   1765.00000000  1752.00000000   20316         True
6   1777.00000000  1754.40000000   34871         True
7   1782.20000000  1760.00000000   27890         True
8   1778.20000000  1764.00000000   22827         True

[341 rows x 8 columns]
            figi                      time          open         close  \
0   BBG0047315Y7 2022-02-21 18:00:00+00:00  198.86000000  188.59000000
1   BBG0047315Y7 2022-02-21 19:00:00+00:00  188.59000000  191.64000000
2   BBG0047315Y7 2022-02-21 20:00:00+00:00  191.02000000  195.01000000
3   BBG0047315Y7 2022-02-22 07:00:00+00:00  185.78000000  181.91000000
4   BBG0047315Y7 2022-02-22 08:00:00+00:00  181.92000000  180.54000000
..           ...                       ...           ...           ...
4   BBG0047315Y7 2022-05-19 11:00:00+00:00  122.42000000  122.12000000
5   BBG0047315Y7 2022-05-19 12:00:00+00:00  122.11000000  122.57000000
6   BBG0047315Y7 2022-05-19 13:00:00+00:00  122.58000000  122.60000000
7   BBG0047315Y7 2022-05-19 14:00:00+00:00  122.60000000  122.88000000
8   BBG0047315Y7 2022-05-19 15:00:00+00:00  122.90000000  122.81000000

            high           low   volume  is_complete
0   199.99000000  185.70000000   682055         True
1   206.50000000  180.20000000  1157796         True
2   199.40000000  190.41000000   330059         True
3   188.11000000  176.00000000  1209716         True
4   185.55000000  177.79000000   939785         True
..           ...           ...      ...          ...
4   123.00000000  122.12000000    13928         True
5   123.29000000  122.01000000    18691         True
6   122.85000000  122.21000000     9325         True
7   122.98000000  122.50000000     8707         True
8   122.98000000  122.80000000    12906         True

[353 rows x 8 columns]
Empty DataFrame
Columns: []
Index: []
            figi                      time             open            close  \
0   BBG00475KHX6 2021-01-25 07:00:00+00:00  145000.00000000  145300.00000000
1   BBG00475KHX6 2021-01-26 07:00:00+00:00  145350.00000000  146850.00000000
0   BBG00475KHX6 2021-01-26 07:00:00+00:00  145350.00000000  146850.00000000
1   BBG00475KHX6 2021-01-27 07:00:00+00:00  146700.00000000  145650.00000000
0   BBG00475KHX6 2021-01-27 07:00:00+00:00  146700.00000000  145650.00000000
..           ...                       ...              ...              ...
1   BBG00475KHX6 2021-12-23 07:00:00+00:00  162450.00000000  163100.00000000
0   BBG00475KHX6 2021-12-23 07:00:00+00:00  162450.00000000  163100.00000000
1   BBG00475KHX6 2021-12-24 07:00:00+00:00  163000.00000000  162600.00000000
0   BBG00475KHX6 2021-12-24 07:00:00+00:00  163000.00000000  162600.00000000
0   BBG00475KHX6 2021-12-27 07:00:00+00:00  162950.00000000  164000.00000000

               high              low  volume  is_complete
0   146350.00000000  144700.00000000     969         True
1   147600.00000000  145100.00000000    1239         True
0   147600.00000000  145100.00000000    1239         True
1   146800.00000000  144050.00000000    1237         True
0   146800.00000000  144050.00000000    1237         True
..              ...              ...     ...          ...
1   164500.00000000  159700.00000000    2104         True
0   164500.00000000  159700.00000000    2104         True
1   164100.00000000  161500.00000000     516         True
0   164100.00000000  161500.00000000     516         True
0   164300.00000000  162850.00000000    1057         True

[632 rows x 8 columns]
            figi                      time         open        close  \
0   BBG000QF1Q17 2022-02-22 07:00:00+00:00  25.35000000  24.00000000
1   BBG000QF1Q17 2022-02-22 08:00:00+00:00  24.03000000  24.48000000
2   BBG000QF1Q17 2022-02-22 09:00:00+00:00  24.48000000  24.79000000
3   BBG000QF1Q17 2022-02-22 10:00:00+00:00  24.80000000  24.82000000
4   BBG000QF1Q17 2022-02-22 11:00:00+00:00  24.82000000  24.68000000
..           ...                       ...          ...          ...
4   BBG000QF1Q17 2022-05-19 11:00:00+00:00  33.45000000  33.69000000
5   BBG000QF1Q17 2022-05-19 12:00:00+00:00  33.60000000  33.50000000
6   BBG000QF1Q17 2022-05-19 13:00:00+00:00  33.54000000  33.33000000
7   BBG000QF1Q17 2022-05-19 14:00:00+00:00  33.37000000  33.22000000
8   BBG000QF1Q17 2022-05-19 15:00:00+00:00  33.23000000  33.30000000

           high          low  volume  is_complete
0   25.99000000  21.50000000    5679         True
1   24.58000000  23.00000000    1398         True
2   24.83000000  24.05000000    1234         True
3   24.86000000  24.37000000     472         True
4   24.97000000  24.59000000    1226         True
..          ...          ...     ...          ...
4   33.69000000  33.40000000     219         True
5   33.64000000  33.43000000     125         True
6   33.54000000  33.31000000     613         True
7   33.37000000  33.10000000     516         True
8   33.30000000  33.21000000     139         True

[327 rows x 8 columns]
            figi                      time           open          close  \
0   BBG002YFXL29 2022-02-22 07:00:00+00:00  7210.00000000  6700.00000000
1   BBG002YFXL29 2022-02-22 08:00:00+00:00  6360.00000000  6210.00000000
2   BBG002YFXL29 2022-02-22 09:00:00+00:00  6410.00000000  6490.00000000
3   BBG002YFXL29 2022-02-22 10:00:00+00:00  6420.00000000  6510.00000000
4   BBG002YFXL29 2022-02-22 11:00:00+00:00  6740.00000000  6770.00000000
..           ...                       ...            ...            ...
2   BBG002YFXL29 2022-05-19 10:00:00+00:00  6740.00000000  6900.00000000
3   BBG002YFXL29 2022-05-19 11:00:00+00:00  6820.00000000  6820.00000000
4   BBG002YFXL29 2022-05-19 12:00:00+00:00  6780.00000000  6680.00000000
5   BBG002YFXL29 2022-05-19 14:00:00+00:00  6760.00000000  6760.00000000
6   BBG002YFXL29 2022-05-19 15:00:00+00:00  6780.00000000  6780.00000000

             high            low  volume  is_complete
0   7210.00000000  5370.00000000     218         True
1   6880.00000000  6140.00000000      56         True
2   6490.00000000  6230.00000000      15         True
3   6770.00000000  6420.00000000       8         True
4   6780.00000000  6630.00000000      10         True
..            ...            ...     ...          ...
2   6900.00000000  6670.00000000      24         True
3   6820.00000000  6820.00000000       1         True
4   6780.00000000  6680.00000000       8         True
5   6820.00000000  6750.00000000       9         True
6   6780.00000000  6780.00000000       1         True

[306 rows x 8 columns]
            figi                      time          open         close  \
0   BBG004S68JR8 2022-02-22 07:00:00+00:00  205.00000000  204.00000000
1   BBG004S68JR8 2022-02-22 08:00:00+00:00  203.00000000  205.00000000
2   BBG004S68JR8 2022-02-22 09:00:00+00:00  205.00000000  205.00000000
3   BBG004S68JR8 2022-02-22 10:00:00+00:00  205.50000000  205.50000000
4   BBG004S68JR8 2022-02-22 11:00:00+00:00  205.50000000  205.50000000
..           ...                       ...           ...           ...
4   BBG004S68JR8 2022-05-19 11:00:00+00:00  182.00000000  179.50000000
5   BBG004S68JR8 2022-05-19 12:00:00+00:00  180.00000000  181.00000000
6   BBG004S68JR8 2022-05-19 13:00:00+00:00  181.00000000  180.00000000
7   BBG004S68JR8 2022-05-19 14:00:00+00:00  180.00000000  179.50000000
8   BBG004S68JR8 2022-05-19 15:00:00+00:00  179.50000000  180.00000000

            high           low  volume  is_complete
0   207.50000000  200.00000000    4939         True
1   206.00000000  200.50000000     177         True
2   206.00000000  205.00000000     516         True
3   206.00000000  205.00000000     225         True
4   206.00000000  205.00000000      38         True
..           ...           ...     ...          ...
4   182.50000000  179.50000000      79         True
5   181.00000000  179.00000000      97         True
6   181.00000000  180.00000000       9         True
7   180.00000000  179.50000000       5         True
8   181.00000000  179.00000000      37         True

[325 rows x 8 columns]
            figi                      time         open        close  \
0   BBG000K3STR7 2022-02-22 07:00:00+00:00  12.77600000  12.50200000
1   BBG000K3STR7 2022-02-22 08:00:00+00:00  12.53000000  12.55800000
2   BBG000K3STR7 2022-02-22 09:00:00+00:00  12.55800000  12.52400000
3   BBG000K3STR7 2022-02-22 10:00:00+00:00  12.52400000  12.62800000
4   BBG000K3STR7 2022-02-22 11:00:00+00:00  12.62800000  12.68600000
..           ...                       ...          ...          ...
4   BBG000K3STR7 2022-05-19 11:00:00+00:00  12.49000000  12.47200000
5   BBG000K3STR7 2022-05-19 12:00:00+00:00  12.47800000  12.49600000
6   BBG000K3STR7 2022-05-19 13:00:00+00:00  12.49600000  12.52000000
7   BBG000K3STR7 2022-05-19 14:00:00+00:00  12.52400000  12.47000000
8   BBG000K3STR7 2022-05-19 15:00:00+00:00  12.48400000  12.47000000

           high          low  volume  is_complete
0   13.36000000  11.02200000   23872         True
1   12.58000000  12.40200000    1089         True
2   12.58600000  12.49400000     845         True
3   12.62800000  12.49600000    9295         True
4   12.71600000  12.58000000    2074         True
..          ...          ...     ...          ...
4   12.49600000  12.46600000     893         True
5   12.49600000  12.47000000     847         True
6   12.53200000  12.49000000     798         True
7   12.52600000  12.46200000    2008         True
8   12.49200000  12.47000000     414         True

[327 rows x 8 columns]
            figi                      time            open           close  \
0   BBG000SK7JS5 2021-01-25 07:00:00+00:00  18250.00000000  18640.00000000
1   BBG000SK7JS5 2021-01-26 07:00:00+00:00  18820.00000000  18610.00000000
0   BBG000SK7JS5 2021-01-26 07:00:00+00:00  18820.00000000  18610.00000000
1   BBG000SK7JS5 2021-01-27 07:00:00+00:00  18610.00000000  18650.00000000
0   BBG000SK7JS5 2021-01-27 07:00:00+00:00  18610.00000000  18650.00000000
..           ...                       ...             ...             ...
0   BBG000SK7JS5 2022-04-25 07:00:00+00:00  10780.00000000  10980.00000000
0   BBG000SK7JS5 2022-04-25 07:00:00+00:00  10780.00000000  10980.00000000
1   BBG000SK7JS5 2022-04-26 07:00:00+00:00  10970.00000000  10950.00000000
0   BBG000SK7JS5 2022-04-26 07:00:00+00:00  10970.00000000  10950.00000000
1   BBG000SK7JS5 2022-04-27 07:00:00+00:00  10950.00000000  11010.00000000

              high             low  volume  is_complete
0   18940.00000000  18250.00000000      94         True
1   18850.00000000  18420.00000000      75         True
0   18850.00000000  18420.00000000      75         True
1   18790.00000000  18610.00000000      54         True
0   18790.00000000  18610.00000000      54         True
..             ...             ...     ...          ...
0   11900.00000000  10620.00000000    2862         True
0   11900.00000000  10620.00000000    2862         True
1   11350.00000000  10680.00000000    2485         True
0   11350.00000000  10680.00000000    2485         True
1   11250.00000000  10800.00000000    1159         True

[628 rows x 8 columns]